@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --neon-orange: #f95f00;
  --orange: #ff6e00
  --dark-pink: #ff004f;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
  color: #fff;
}

/****** Header ******/

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

.header-nav p {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-nav p .c,
.header-nav p .dot {
  color: var(--neon-orange);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

.header-nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.header-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.header-nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--neon-orange);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.header-nav ul li a:hover::after {
  width: 100%;
}

.header-nav .fas {
  display: none;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: var(--neon-orange);
}
/****** End Header ******/

/****** About Me ******/

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 .user-pic {
  transition: transform 0.5s;
}

.user-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.about-col-1 .user-pic:hover {
  transform: scale(1.1);
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.about-col-2 .desc {
  font-size: 16px;
  margin-bottom: 15px;
}

.tab-titles {
  display: flex;
  margin: 20px 0 30px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--neon-orange);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 16px;
}

.tab-contents ul li span {
  color: var(--neon-orange);
  font-size: 18px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
/****** End About Me ******/

/****** Services ******/

#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 30px;
}

.services-list div {
  background-color: #262626;
  padding: 30px 30px 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div .mobile i {
  position: absolute;
  margin: 0 10px;
  font-size: 50px;

}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

/* .services-list div p {
  line-height: 20px;
} */

.services-list div a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  transition: transform 0.5s;
}

.services-list div:hover {
  background-color: var(--neon-orange);
  transform: translateY(-10px);
}

.services-list div a i {
  font-size: 14px;
  margin-left: 5px;
}

.services-list div a:hover {
  transform: translateX(10px);
}



/****** End Services ******/

/****** Portfolio ******/

#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.work img:hover {
  transform: scale(1.1);
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--neon-orange));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  font-size: 14px;
  transition: height 0.5s;
}

.work:hover .layer {
  height: 100%;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a i {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  background-color: #fff;
  color: var(--neon-orange);
  border-radius: 50%;
  font-size: 18px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.layer a i:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--neon-orange);
  border-radius: 6px;
  padding: 14px 50px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: var(--neon-orange);
}

/****** End Portfolio ******/

/****** Contact ******/
.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: var(--neon-orange);
  margin-right: 15px;
  font-size: 23px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--neon-orange);
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background-color: var(--neon-orange);
  transition: transform 0.5s;
}

.btn.btn2:hover {
  transform: scale(1.1);
}

.contact-right {
  flex-basis: 60%;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

#google-sheet-btn {
  color: #61b752;
  text-transform: capitalize;
  margin-top: -30px;
  display: block;
}

/****** End Contact ******/

/****** Copyright ******/
.copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: #aaaaaa;
  background-color: #262626;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}

.copyright p i {
  color: var(--neon-orange);
}
/****** End Copyright ******/

/****** Mobile - Media Query ******/

@media only screen and (max-width: 600px) {
  /* Header */
  #header {
    background-image: url(images/phone-background.png);
  }
  .header-text {
    margin-top: 93%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .header-nav .fas {
    display: block;
    font-size: 25px;
  }
  .header-nav ul {
    background-color: var(--neon-orange);
    position: fixed;
    top: 0;
    right: -180px;
    width: 180px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  .header-nav ul li {
    display: block;
    margin: 25px;
  }
  .header-nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  /* End Header */

  /* About */
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 .desc {
    font-size: 14px;
  }
  .tab-links {
    font-size: 18px;
    margin-right: 20px;
  }
  /* End About */

  /* Portfolio */
  .work img {
    height: 60vh;
  }
  /* Portfolio */

  /* Contact */
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .contact-left p {
    margin-top: 20px;
    font-size: 18px;
  }
  .contact-left p i {
    font-size: 18px;
  }
  .social-icons {
    margin-top: 15px;
  }
  .social-icons a i{
    font-size: 18px;
  }
  /* End Contact */

  /* Copyright */
  .copyright {
    font-size: 13px;
  }
}
